<div class= "header">
	<div class = "container">
		<div class="row">
			<span class=" three columns">
				<%= link_to home_path do%>,
				<img src="/assets/my_guru_logo" class= "logo">
				<%end%>
			</span>
        <span class="offset-by-seven two columns">

				  <% if current_user %>
			      <!-- Logged in as <%= current_user.email %>. -->
			      <%= link_to "Guru Logout", logout_path, class: "button" %>
			    <% else %>
			      <% link_to "Guru Portal", signup_path, class: "button" %>
			      <%= link_to "Guru Login", login_path, class: "button" %>
			    <% end %>
			  </span>
			</div>
		</div>
  </div>
</div>