<div class="sidemenu">
	<nav class="sidemenu-nav">
		<ul class="sidemenu-nav__list">
			<li id="dashboard-link" class="sidemenu-nav__item">
				<%# <%= link_to dashboard_path, class:"tab" do %>
				<a href="/dashboard" class="material-icons md-34 md-light dash_icons" title="Dashboard Home">home</a>
				<%# <%end%>
			</li>
			<li id="mychannel-link" class="sidemenu-nav__item">
				<%# <a href="#" class="material-icons md-34 md-light dash_icons" title="My Channel">video_library</a> %>
				<a href="/videos" class="material-icons md-34 md-light dash_icons">video_library</a>
			</li>
			<li id="messaging-link" class="sidemenu-nav__item" title="Messaging">
				<a href="#" class="material-icons md-34 md-light dash_icons">chat_bubble</a>
				<%# <a href="/messaging" class="material-icons md-34 md-light dash_icons">chat_bubble</a> %>
			</li>
		</ul>
	</nav>
</div>



