<div class ="sidemenu">
	<nav class = "sidemenu-nav">
		<ul class = "sidemenu-nav__list">
			<li id = "dashboard-link" class = "sidemenu-nav__item ">
				<%# <%= link_to dashboard_path, class:"tab" do %>
				<a href = '/dashboard' class="material-icons-outlined md-34 md-light dash_icons">home</a>
				<%# <%end%>	
			</li>			
			<li id = "mychannel-link" class = "sidemenu-nav__item">
				<a href = "/my_channel_view/index" class=" material-icons md-34 md-light dash_icons">video_library</a>
			</li>
			<li id = "messaging-link" class = "sidemenu-nav__item">
				<a href ="/messaging/index" class="material-icons md-34 md-light dash_icons">chat_bubble</a>
			</li>
		</ul>
	</nav>
</div>



