
<div class = "container">
	<div class="row dashboard">
		<div class= "one column sidemenu">
			<ul style="list-style-type: none">
				<li>
					<%= link_to videos_path do %>
						<i class="material-icons md-light dash_icons">video_library</i>
					<%end%>
				</li>
				<li><i class="material-icons md-light dash_icons">chat_bubble</i></li>
		</div>
		<div class="columns eight">
		
			
  		
		</div>
		<div class="columns three offset-by-eight right_column">
			<%= react_component("Message", { greeting: "Hello from react-rails."}, class: "dash_note") %>
			<div class="dash_note"> You have 3 messages.</div>
		</div>
		<div class="columns ten">
				<% link_to 'new module', new_training_module_path, class: "button" %>
			</div>
	</div>
</div>
