<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey Limitless Minds Support!</p>
    
    <p>There has been a social post that was reported as objectionable.</p>
    <p>Post Id: <%= @post_id%></p>

  </body>
</html>