<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>!</p>
    <p>
    Here is how you can reset your password:<br>
    --------------------------
    </p>
    <p>1. Click here. </p>
    <p>2. Enter your new password</p>
    <p>3. Login in the app with the new password</p>
    
    <p>Thanks for using the Limitless Minds app!</p>

    <p> - The Limitless Minds Team
  </body>
</html>