<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>!</p>
    <p>
    Here is how you can reset your password:<br>
    --------------------------
    </p>
    <p>Here is your verification code: <%=@code %></p>
    <p>Enter your verification code into the app to change your password.</p>
    <p>Create a new password and login.</p>
    
    <p>Thanks for using the Limitless Minds app!</p>

    <p> - The Limitless Minds Team
  </body>
</html>