<p>
  <strong>Title:</strong>
  <%= @training_module.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @training_module.text %>
</p>
<%= link_to 'Edit', edit_training_module_path(@training_module) %>
<%= link_to 'Back', training_modules_path %>