<p>
  <strong>User Name:</strong>

  <%= @user.username %>

</p>


<% if @user.avatar.attached? %>
<strong>Yes Profile Image:</strong>
	<image src="<%=(url_for(@user.avatar))%>"> 
<% else %>
<p>
  <strong>No Profile Image:</strong>
  </p>
<% end %>
