html {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.button {
	background-color: #fff;
	padding: 20, 35;
	border-radius: 20px;
	color: #000;
}
.card {
  display:inline-block;
  border: 1px solid #555555;
  border-radius: 20px;
   -webkit-box-shadow: 0px 0px 1px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-color: #fafafa;
  padding: 20px;
}
