// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard {
	border: 2px solid #555555;
	border-radius: 30px;
	padding: 25px;
	background-color: #191919;
	height: 600px;
}
.sidemenu {
	height: 100%;
	border-radius: 30px;
	background-color: #FF6051;
}
.dash_note {
	background-color: rgba(216, 216216, 216, 0.11);
	padding: 20px;
	color: #ffffff;
	border-radius: 30px;
}