// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* GENERAL STYLES. */

.row{
 
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-content: center;
 }

 body{
	 padding: 0px;
	 margin: 0px;
 }



 .logo{
	padding-left: 8%; 
 }

 /* || Dashboard properties */

.dashboard {
	display: grid;
	background-image: url(dashboard_bg.png);
	background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
	border: .2rem solid #555555;
	border-radius: 3rem;
	font-size: 1.4rem;
	padding: 3rem;
	background-color: #2c2c2c;
	height: 600px;
	max-width: fit-content;
	grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
	"sidemenu main main main main main main main main notifications notifications notifications"
	;
}

/* || Dashbboard grid elements */

#side-navigation{
	grid-area: sidemenu;
	display: flex;
	justify-content:left;
	align-items: center;
	position: sticky;
}

#main{
grid-area: main;
}

#notifications{
	position: sticky;
	grid-area: notifications;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* || Sidemenu elements */

.sidemenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	height:100%;
	width: 4rem;
	border-radius: 3rem;
	background-color: #00f3b9;
	padding: .5rem;
	padding-top:1rem;
	padding-bottom:1rem;	
}

.sidemenu-nav{
list-style-type: none;
padding:0px;
margin: 0px;
margin-top: 1rem;
width: 100%;
}



.dash_icons{
	padding: .5rem;
	margin-top: 1rem;
	border-color: rgba(0, 0, 0, 0);
	border-style: solid;	
	
 	border-radius: 50%;
	&:hover{
 		background-color: #65fadf;
		border-color: #5bfbdf;
		border-style: solid;	
 	}
}

 /* || Main body elements */

.main-content{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1.5fr 2fr 2fr;
	justify-content: start;
	flex-wrap: wrap;
	flex-direction: column;	
	border-right: medium solid rgba(216, 216, 216, 0.11);
	border-width: .1rem;
	height: 100%;
	margin-right: 3%;
	gap: 1rem;
	grid-template-areas: 
	"app_stats app_stats"
	"top_videos top_videos"	
	"my_channel_view my_channel_view"
	;

}

#app_stats{
	grid-area: app_stats;
}

#top_videos{
	grid-area: top_videos;
}


#my_channel_view{
	grid-area: my_channel_view;
}

#app_stats,
#top_videos,
#my_channel_view{
	display: flex;
 	flex-direction: column;
	justify-content: left;
}

.app_stats_body,
.top_videos_body,
.my_channel_view_body{
  color: #ffffff;
	display: flex;
 	flex-direction: row;
  border:0;
  box-shadow: none;  
	gap: 1rem;		
}

.top_videos_body{
	height: 16.6rem;
	width: 100%;
}

//scrolling
.tn-scroll-outer-container{
	display: flex;
  overflow-x: auto;
	padding: 0px;
	gap: 1rem;
	width: 100%;
}
	

.tn-scroll-outer-container::-webkit-scrollbar{
	display:none;
}

.top_videos_body .thumbnail{
min-width: 20rem;	
}

.child-title,
.content-title{
	font-weight: 600;
}

.child-title{
	font-size: 2rem;
	color: #ffffff;
	padding-bottom: 1rem;

}

.content-title{
	font-size: .6vw;
	text-align: center;
	
}

.child-card{      
	display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	background-color: #ffffff;
	color: #000000;
  border-radius: 1.5rem;
  border:0;
  box-shadow: none;
	padding: 1rem;
  height: 7rem;
	width: 8rem;
	padding-top: 2rem;
	padding-bottom: 1rem; 
	transition: all .5s ease-out;; 
}


.border{
	height: 90%;
	border-left: medium solid rgba(216, 216, 216, 0.11);
	border-width: .1rem;
	margin-right: 3rem;
}

 /* || Video thumbnails */

.thumbnail{
	position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
	background-color:  rgba(216, 216, 216, 0.11);
	padding: 1rem;
  width: 20rem;
  height: 11rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
 	border-radius: 2rem;
  border:0;  
}

.thumbnail-image {
  display: block;
  position: absolute;
	top: 50%;
  left: 50%;
  max-height: auto;
  max-width: 100%;
  transform: translate(-50%, -50%);
	object-fit: cover;	
}


.thumbnail-overlay{
	position:absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color:#1a17198c;
	border-radius: 2rem;
	transition: opacity .25s ease;
}

.thumbnail-overlay:hover{
	opacity: .8;
	border-style: solid;
	border:  #ffffff;
	border-width: .1rem;
}

.video-views-text{
	font-size: 2rem;
	color: #ffffff;
	background-color: #00f3b9;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	position:absolute;
	top: .5rem;
  right: 0.5rem;
	display: flex;
  align-items: center;
  justify-content: center;
}


/* || Notifications elements */


.dash_button,
.dash_link,
.dash_link2 {
	font-weight: 600;
	text-decoration: none;
}

.dash_note {
	background-color: rgba(216, 216, 216, 0.11);
	justify-content: center;
	padding: 2rem;
	color: #ffffff;
	border-radius: 3rem;
	margin-left: 4%;
}

.notif-card:hover::after{
	content: "";
	opacity: .8;
	display: block;
	border-radius: 1.5rem;
	width:100%;
	height:100%;
	background-color:#90d1b331;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: .5;
	z-index: 0;
}

.notif-card > * {
	z-index: 10;
	position: relative;

}

.notif-card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(216, 216, 216, 0.11);
	padding: 10% 10% 5% 10%;
	width: 80%;
	height: auto;
	min-height:15%;
  color: #ffffff;
	border-radius: 1.5rem;
	border:0;
	box-shadow: none;	
	gap: 2rem;
	transition: all .3s ease-in-out;
}

.card-footer{
 	display: flex;
 	justify-content: space-between;
	flex-direction: row; 	
	align-self: stretch;	
	line-height: 150%;
 }

.dash_button{
 padding-left: 5%;
 padding-right: 5%;
 height: fit-content;
 text-transform: none;
 display: inline;
 color: #000000;
 background-color: #00f3b9;
 border-radius: 2rem;
 text-align: center;
 width: 7.5rem;
 &:hover{
	color:#ffffff;
	}
}

.dash_link{
 	color: #ffffff;
 	&:hover{
 		color:#000000;
 	}	
}

.dash_link2{
	color: #00f3b9;
	&:hover{
		color:#ffffff;
	}	
}

 /* || Circular progress or Active User bar */
 
.box span{
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}


.child-card .circle{
	position: relative;
  border-radius: 50%;
  cursor: default;
}

.child-card .circle .box,
.child-card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.child-card .circle .box{
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.circle .box span{
  transform: translate(-50%, -50%);
  transition: all 0.1s;
}



/*Media */

@media(max-width: 753px){
  .main{
    max-width: 700px;
  }
  .main .child-card{
    width: calc(50% - 2rem);
    margin-bottom: 2rem;
  }

	.thumbnail{
		width: 15rem;
	}
}
@media(max-width: 505px){
  .main{
    max-width: 500px;
  }
  .main .child-card{
    width: 100%;
  }
}