// Place all the styles related to the Training_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.module_card {
  display:inline-block;
  border-radius: 20px;
   -webkit-box-shadow: 0px 0px 1px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 1px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 1px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-color: #FF6051;
  margin-right: 2%;
  height: 250px;
  position: relative;
  overflow:hidden;
}

.right {
  float: right;
}
.photo_frame {
	height: 251px;
	// border-radius: 20px;
	position: absolute;
}
.cover_photo {
  max-width: 100%;
  min-height: 100%;
  background-color: #FF6051;
  object-fit: cover;
  
}
.module_author_container{
	position: relative;
  top: 0px;
  

}
.module_author_name{
	color: white;
  font-size: 1.5rem;
  position:absolute;
  top:23px;
}
.module_title{

  z-index: 10;
  color: white;
  padding:10px;
  font-size: 2rem;
  line-height: 20px;
  margin:0px;
  padding-top:0px;
}
.photo_overlay{
	height: 300%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -200%;
  border-radius: 20px;
  display: inline-block;
}
.module_text_container{
	top: 130px;
  position: absolute;

}  
.module_comments{
  position: relative;
  top: -13px;
  padding-left: 10px;
  color:#ffffff;
}  
.module_description {
	font-size: 1.25rem;
  line-height: 1.25;
  margin: 0px;
  position: relative;
  color: white;
  padding: 10px;
  padding-top: 0px;
}
.module_avatar {
	position: relative;
	height: 40px;
	width:40px;
	top:10px;
	border-radius: 100px;
	padding:5px;
}
