<div class = "hero">
	<!-- <img src="assets/blue_mountains" class="hero_img" %> -->
	<div class = "container">
			<div class="row hero-message">
				<h1 class="hero-title">Find your Guru</h1>
				<p>Now you don't have to make $70M to have access to the best mindset gurus!</p>
				<div class="one-half column">
					<%= link_to 'Try Mindset Guru'%>
				 <% link_to 'My Modules', controller: 'training_modules' %>
				 <% link_to 'New training module', new_training_module_path %>
			</div>
			</div>
	</div>
</div>